
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product[0].product %></title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div class="container">
  <h1><%= product[0].product %></h1>
  <p>Description: <%= product[0].description %></p>
  <p>Price: <%= product[0].price %></p>

  <!-- for updating the product -->
  <form action="/products/<%= product[0].id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="updateProduct">Update Product:</label>
    <input type="text" id="updateProduct" name="product" required>
    <label for="updateDescription">Update Description:</label>
    <input type="text" id="updateDescription" name="description" required>
    <label for="updatePrice">Update Price:</label>
    <input type="number" step="0.01" id="updatePrice" name="price" required>
    <button type="submit">Update</button>
  </form>

  <!--for deleting the product -->
  <form action="/products/<%= product[0].id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
</div>
</body>
</html>
